<% include header %>

<form action="/login" method="POST" class="ui form">
        <div class="field">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" name="username"/>
        </div>
        <div class="field">
            <label for="password">Mot de passe</label>
            <input type="password" name="password"/>
        </div>
        <button class="ui inverted green button" type="submit">Connexion</button>
    </form>
    <hr/>
    <button class="ui blue button" href="/signup" onClick='document.location.href="/signup"'>Créer un compte</button>
  </div>
</body>

</html>
