<% include header %>

<form action="/user" method="POST" class="ui form">
        <div class="field">
            <label for="username">Nom d'utilisateur</label>
            <input type="text" name="username"/>
        </div>
        <div class="field">
            <label for="password">Mot de passe</label>
            <input type="password" name="password"/>
        </div>
        <button class="ui green button" type="submit">S'inscrire</button>
    </form>
  </div>
</body>

</html>
